/*通用*/
*{
	font-family: 'Microsoft Yahei UI';
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
	color:#4d555d;
}
a:hover{
	color:#f01414;
}
i{
	display: inline-block;
}
select{
	background-color: transparent;
	border:none;
	outline: none;
	cursor: pointer;
}
/*顶层导航栏*/
.top{
	background: linear-gradient(-45deg, #f3f5f7, #cdd0d4, #f0f0f0, #fff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.top .top-container{
	font-size:12px;
	width:1200px;
	height:44px;
	line-height: 44px;
	border-bottom:1px solid #cdd0d4;
	margin:0 auto;
}
.top .top-container .nav-left{
	float:left;
}
.top .top-container .nav-left li{
	float:left;
	margin-left:12px;
}
.top .top-container .nav-left .login{
	color:#f01414;
}
.top .top-container .nav-right{
	float:right;
}
.top .top-container .nav-right > li{
	float:left;
}
.top .top-container .nav-right .car{
	width:8px;
	margin-left:8px;
	margin-right:8px;
}
.top .top-container .nav-right .icon{
	width:8px;
	margin-left:8px;
}
.top .top-container .nav-right .null{
	width:8px;
	margin-left:8px;
}
.top .top-container .nav-right .show-list{
	position: relative;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.top .top-container .nav-right .show-list > a{
	display:block;
	height: 100%;
	padding: 0 16px 0 12px;
	color: #4d555d;
}
.top .top-container .nav-right .show-list:hover{
	background-color:#fff;
	border-color:#cdd0d4;
}
.top .top-container .nav-right .show-list:hover > a{
	color:#f01414;
}
.top .top-container .nav-right .show-list:hover .icon{
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.top .top-container .nav-right .show-list .hide-list{
	display:none;
	opacity:0;
    position: absolute;
    top:44px;
    background-color:#fff;
    border: 1px solid #cdd0d4;
    z-index: 4;
}
.top .top-container .nav-right .show-list .left{
	right:auto;
	left:-1px;
}
.top .top-container .nav-right .show-list .right{
	right:-1px;
	left:auto;
}
.top .top-container .nav-right .show-list .hide-list a{
	padding:0 9px;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 0.6; 
	}
	100% {
		opacity: 1; 
	}
}
.top .top-container .nav-right .show-list:hover .hide-list{
	display:block;
	opacity:1;
	border-top:none;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1; 
}
.top .top-container .nav-right .show-list:hover .hide-list li:hover{
	background-color:#f3f5f7; 
}
/*banner区*/
header{
	background-color: #fff;
	position: sticky;
	top:0;
	z-index: 3;
}
header .header-container{
	width:1200px;
	height:100px;
	margin:0 auto;
}
header .header-container .logo{
	width:250px;
	float:left;
	margin: 20px 0 20px 20px;
}
header .header-container .search{
	float:left;
	width:800px;
	height:48px;
	border:1px solid #f01414;
	border-radius: 25px;
	position: relative;
	margin: 25px 0;
}
header .header-container .search .input{
	position: absolute;
	left:20px;
	border:none;
	outline: none;
	width:679px;
	height:44px;
	line-height: 44px;
	font-size:16px;
	background-color:transparent;
}
header .header-container .search .search-btn{
	position: absolute;
	top:-1px;
	right:-1px;
	width:100px;
	height: 50px;
	line-height: 50px;
	background:linear-gradient(to right, rgb(255,130,0),rgb(255,100,0));
	color:#fff;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-left:1px solid #f01414;
	border-top:none;
	border-bottom:none;
	border-right:none;
	outline:none;
	cursor: pointer;
	font-size:20px;
	font-weight: bold;
}
header .header-container .search .search-layer{
	display: none;
	position: absolute;
	top:100%;
	left:20px;
	width:680px;
	background-color: #fff;
	border:1px solid #f01414;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	overflow:hidden;
}
header .header-container .search .search-layer .search-layer-item{
	height:24px;
	line-height: 24px;
	padding:0 10px;
	cursor: pointer;
	color:#4d555d;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
header .header-container .search .search-layer .search-layer-item:hover{
	background-color: #f3f5f7;
}
/*中心部分*/
.main{
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/*导航栏*/
.nav .nav-container{
	width:1200px;
	margin: 0 auto;
	height:50px;
	line-height: 50px;
	font-weight: bold;
	background-image: linear-gradient(to right,#fff,#0f0,#7fff00,#7cfc00,#adff2f,#ffd700,#ff0);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.nav .nav-container ul{
	float:left;
}
.nav .nav-container .nav-big li{
	font-size:18px;
	padding:0 8px;
	float:left;
}
.nav .nav-container .nav-small li{
	float:left;
	padding:0 8px;
}
.nav .nav-container a{
	color:yellow;
}
/*中部*/
.middle{
	width: 100%;
	margin-bottom: 8px;
}
.middle-container{
	width:1200px;
	height: 504px;
	margin:0 auto;
}
/*左侧菜单*/
.middle-category{
	background: linear-gradient(-45deg, #f01414, #f00, #c03, #f36);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	float:left;
    position: relative;
    width: 208px;
    margin-top: -50px;
    font-size: 14px;
	height:554px;
	color:#fff;
	font-style: normal;
}
.category-title{
	display: block;
	color:#fff;
	height: 50px;
	line-height: 50px;
	background-color: #f00;
	padding-left:15px;
}
.category-title i{
	width:15px;
	padding-right: 15px;
}
.category-title:hover{
	color:#fff;
}
.dropdown-layer {
	display:none;
	position: absolute;
	top:50px;
    left: 100%;
    width: 744px;
    padding: 8px 0 31px 0;
    background: linear-gradient(-45deg, #f3f5f7, #cdd0d4, #f0f0f0, #fff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);    
    border: 1px solid #cdd0d4;
	z-index: 3;
	cursor: default;
}
.dropdown-layer li{
	padding-top: 10px;
}
.dropdown-layer li span{
	display: block;
	width:110px;
	float:left;
	text-align:right;
	color:#000;
	font-weight: bold;
	padding-right: 20px;
}
.dropdown-layer li a{
	float:left;
	margin-right: 10px;
}
.dropdown-layer li .br{
	margin-left:130px;
}
.dropdown{
	padding-left: 15px;
	margin-bottom: 2px;
	height:34px;
	line-height: 34px;
	color:#fff;
	cursor: pointer;
}
.dropdown-link:first-child{
	padding-left: 15px;
}
.dropdown:hover{
	background-color: #fff;
	color:#f00;
}
.dropdown-arrow{
	float:right;
	height:36px;
	line-height: 36px;
	padding-right:10px;
	font-size:20px;
    font-family: simsun;
    font-weight: bold;
}
/*右侧侧边栏*/
aside{
	float:right;
	background: linear-gradient(-45deg, #f3f5f7, #cdd0d4, #f0f0f0, #fff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	width: 249px;
	height:504px;
	font-size: 8px;
}
.aside-news {
	padding: 7px 20px 12px;
	border: 1px solid #fff;
	border-bottom: none;
}
.aside-news-head {
	height: 38px;
	line-height: 38px;
}
.aside-news-title {
	color: #f01414;
	font-size: 16px;
	float:left;
}
.aside-news-head > a{
	float:right;
}
.aside-news-body {
	line-height: 28px;
}
.aside-service {
	border-left:1px solid #fff;
	*zoom:1;
}
.aside-service:before,
.aside-service:after {
	content: " ";
	display: table;
}
.aside-service:after {
	clear: both;
}
.aside-service-item {
	float:left;
	width: 61px;
	height: 71px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	text-align: center;
}
.aside-service-item > i{
	display: inline-block;
	width:100%;
	margin-top: 17px;
	color: red;
	font-size: 22px;
}
.aside-service-text {
	display: inline-block;
	width: 100%;
	margin-top: 6px;
	color: #4d555d;
}
.aside-service-text:hover{
	color:#f01414;
}
.aside-ad {
	width: 100%;
	height: 90px;
	background: url(../img/focus-ad.png) no-repeat;
}
/*中间轮播图*/
.middle-slider{
    position: relative;
    z-index:1;
    height:100%;
    overflow: hidden;
}
.middle-slider-container{
    position: absolute;
    top: 0;
    left: 8px;
    width: 100%;
    height: 100%;
}
.middle-slider-container > a{
	width:100%;
	height:504px;
}
.middle-slider-container > a > img{
	display:block;
	height:504px;
}
.slider-control {
    width: 28px;
    height: 62px;
    line-height: 62px;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    /*background-color: rgba(0,0,0,.2);*/
    opacity: 0.8;
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-family: simsun;
    font-weight: bold;
}
.middle-slider:hover .slider-control{
	background-color: #000;
	color:#fff;
}
.middle-slider .slider-control-left {
    left: 8px;
}
.middle-slider .slider-control-right {
    right: 7px;
}
.dots {
	position: absolute;
	bottom: 24px;
	right: 0;
	left:0;
	text-align: center;
	padding-right: 24px;
	line-height: 12px;
}
.dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-left: 8px;
	background-color: rgba(7, 17, 27, 0.4);
	cursor: pointer;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
}

.dots span.active{
	box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
	background-color: #ffffff;
}

/*轮播图*/
.lunbo .lunbo-container{
	width:1200px;
	margin:0 auto;
}
.lunbo .lunbo-slider{
    position: relative;
    z-index:1;
    width:100%;
    height:158px;
    margin-bottom:10px;
    overflow: hidden;
}
.lunbo .slider-img{
	float:left;
} 
.lunbo .slider-control-left {
    left: 0;
}
.lunbo .slider-control-right {
    right: 0;
}
.lunbo-container:hover .slider-control{
	background-color: #000;
	color:#fff;
}
/*楼层区*/
.floor{
	width: 1200px;
	margin:0 auto;
}
.floor .floor-container{
	height:550px;
	position: relative;
	background: linear-gradient(-45deg, #f3f5f7, #cdd0d4, #f0f0f0, #fff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	margin-bottom:8px;
}
.floor-head {
	height: 68px;
	border-bottom: 1px solid #f01414;
}
.floor-title {
	margin-top: 20px;
	float:left;
	padding-left:10px;
}
.floor-title-num {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 50%;
	background-color: #07111b;
	margin-right: 12px;
	color: #fff;
	font-size:14px;
	font-weight: normal;
	text-align: center;
}
.floor-title-text {
	position: relative;
	top: 3px;
	color: #07111b;
	font-size: 20px;
}
.floor-container .floor-head> ul{
	margin-top: 22px;
	float:right;
	padding-right:10px;
}
.floor-container .floor-head> ul > li{
	float:left;
	padding-right:10px;
	color:#4d555d;
}
.floor .tab-active{
	display: inline-block;
	height: 47px;
	color:#f01414;
	background: url(../img/floor-arrow.png) no-repeat center bottom;
}
.floor .tab-list{
	width: 1200px;
}
.floor .tab-panel{
	width:1200px;
}
.floor-item {
	width: 200px;
	height: 232px;
	padding-right: 0;
	margin-right:0;
	text-align: center;
	float:left;
	display: inline;
	background-image: linear-gradient(#fff,transparent);
    background-size: 400% 400%;
    background-position: 0 100%;
    transition: background-position 1.3s;
}
.floor-item:hover {
	background-position: 0 0;
	-webkit-transform: translate(0, -3px);
    -moz-transform: translate(0, -3px);
    -o-transform: translate(0, -3px);
    -o-transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    transform: translate(-5px, -5px);
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.5);
}
.floor-item-pic {
	margin-top: 24px;
}
.floor-item-name {
	margin-top: 24px;
	font-size: 8px;
}
.floor-item-name .link {
	color: #07111b;
}
.floor-item-price {
	margin-top: 11px;
	color: #f01414;
	font-size: 14px;
	font-weight: bold;
} 
.tab-panel {
	height: 100%;
}
.floor .tab-list:nth-child(2),.floor .tab-list:nth-child(3){
	display: none;
}
/*floor1*/
/*floor2*/
/*floor3*/
/*floor4*/
/*floor5*/
/*友情链接区*/
.com{
	background: linear-gradient(-45deg, #f3f5f7, #cdd0d4, #f0f0f0, #fff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.com-container{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}
.com .com-container .com-block{
    float: left;
    width: 25%;
    height: 200px;
}
.com .com-container .com-block .com-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
    color:#4d555d;
}
.com .com-container .com-block .com-title i{
	width:30px;
	font-size:30px;
}
.com .com-container .com-block .com-text{
    line-height: 40px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
}
.com .com-container .com-block .com-text a:hover{
    color: red;
}
/*底部导航*/
.bottom-container{
	width:1200px;
	height: 70px;
	margin:0 auto;
	font-size:8px;
	border-top:1px solid #cdd0d4;
	border-bottom:1px solid #cdd0d4;
}
.bottom-container .bottom-nav-ul{
	padding-top:13px;
	width:100%;
}
.bottom-container .bottom-nav-ul li{
	float:left;
	color:#cdd0d4;
}
/*脚部*/
.footer-container{
	width: 1200px;
	margin:0 auto;
	padding-bottom:20px;
	font-size:8px;
}
.footer-ul{
	overflow:hidden;
}
.footer-ul:first-child{
	padding-top:10px;
}
.footer-ul:first-child li{
	padding-right:5px;
}
.footer-ul li{
	float:left;
	color:#cdd0d4;
}
.footer-ul li i{
	width:20px;
	font-size:15px;
}
.footer-ul .footer-ul-p{
	padding-left: 30px;
	color:#4d555d;
	opacity: .6;	
}
.footer-ul .footer-ul-text{
	color:#4d555d;
	opacity: .6;	
}
/*电梯*/
.elevator{
	/*display:none;*/
	position: fixed;
	left:320px;
	top:50%;
	margin-top:-90px;
}
.elevator .elevator-item{
	display:block;
	width:24px;
	height:35px;
	line-height: 35px;
	border-top: 1px solid #d9dde1;
	font-size:8px;
	text-align: center;
	color:#fff;
}
.elevator .elevator-item:hover{
	color:yellow;
}
.elevator .elevator-item .elevator-text{
	display:none;
}
.elevator .elevator-item:hover .elevator-text{
	display:block;
}
.elevator .elevator-item:hover .elevator-num{
	display:none;
}
/*侧栏工具条*/
.toolbar{
	position: fixed;
	right: 0;
	top:50%;
	margin-top:-102px;
}
.toolbar .toolbar-item{
	position:relative;
	display:block;
	width:40px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
	color:#fff;
	text-align:center;
}
.toolbar .toolbar-item > i{
	position: relative;
	z-index: 2;
	display: block;
	height: 40px;
	line-height: 40px;
	background-color: #b7bbbf;
	font-size:30px;
}
.toolbar .toolbar-item .toolbar-text{
	position: absolute;
	left:0;
	top:0;
	width:80px;
	height: 40px;
	color:#fff;
	font-size:16px;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.toolbar .toolbar-item:hover i{
	background-color: #71777d;
}
.toolbar .toolbar-item:hover .toolbar-text{
	left:-80px;
	background-color: #71777d;
}
.toolbar .toolbar-item:hover .toolbar-text:hover{
	color:yellow;
}