/*通用*/
*{
	font-family: 'Microsoft Yahei UI';
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
	color:#4d555d;
}
a:hover{
	color:#f01414;
}
i{
	display: inline-block;
}
select{
	background-color: transparent;
	border:none;
	outline: none;
	cursor: pointer;
}
/*顶层导航栏*/
.top{
	background-color: #f3f5f7;
}
.top .top-container{
	font-size:12px;
	width:1200px;
	height:44px;
	line-height: 44px;
	border-bottom:1px solid #cdd0d4;
	margin:0 auto;
}
.top .top-container .nav-left{
	float:left;
}
.top .top-container .nav-left li{
	float:left;
	margin-left:12px;
}
.top .top-container .nav-left .login{
	color:#f01414;
}
.top .top-container .nav-right{
	float:right;
}
.top .top-container .nav-right > li{
	float:left;
}
.top .top-container .nav-right .car{
	margin-left:8px;
	margin-right:8px;
	vertical-align: middle;
}
.top .top-container .nav-right .icon{
	margin-left:8px;
	vertical-align: middle;
}
.top .top-container .nav-right .null{
	width:8px;
	margin-left:8px;
}
.top .top-container .nav-right .show-list{
	position: relative;
	border-left: 1px solid #f3f5f7;
	border-right: 1px solid #f3f5f7;
}
.top .top-container .nav-right .show-list > a{
	display:block;
	height: 100%;
	padding: 0 16px 0 12px;
	color: #4d555d;
}
.top .top-container .nav-right .show-list:hover{
	background-color:#fff;
	border-color:#cdd0d4;
}
.top .top-container .nav-right .show-list:hover > a{
	color:#f01414;
}
.top .top-container .nav-right .show-list:hover .icon{
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.top .top-container .nav-right .show-list .hide-list{
	display:none;
	opacity:0;
    position: absolute;
    top:44px;
    background-color:#fff;
    border: 1px solid #cdd0d4;
    z-index: 2;
}
.top .top-container .nav-right .show-list .left{
	right:auto;
	left:-1px;
}
.top .top-container .nav-right .show-list .right{
	right:-1px;
	left:auto;
}
.top .top-container .nav-right .show-list .hide-list a{
	padding:0 9px;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 0.6; 
	}
	100% {
		opacity: 1; 
	}
}
.top .top-container .nav-right .show-list:hover .hide-list{
	display:block;
	opacity:1;
	border-top:none;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1; 
}
.top .top-container .nav-right .show-list:hover .hide-list li:hover{
	background-color:#f3f5f7; 
}
/*banner区*/
header{
	background-color: #fff;
	position: sticky;
	top:0;
}
header .header-container{
	width:1200px;
	height:100px;
	margin:0 auto;
}
header .header-container .logo{
	width:250px;
	float:left;
	margin: 20px 0 20px 20px;
}
header .header-container .input{
	float:left;
	width:800px;
	height:48px;
	border:1px solid #f01414;
	border-radius: 25px;
	position: relative;
	margin: 25px 0;
}
header .header-container .input .search{
	position: absolute;
	left:20px;
	border:none;
	outline: none;
	width:680px;
	height:44px;
	line-height: 44px;
	font-size:16px;
	background-color:transparent;
}
header .header-container .input .search-btn{
	position: absolute;
	top:-1px;
	right:-1px;
	width:100px;
	height: 50px;
	line-height: 50px;
	background:linear-gradient(to right, rgb(255,130,0),rgb(255,100,0));
	color:#fff;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border:none;
	outline:none;
	cursor: pointer;
	font-size:20px;
	font-weight: bold;
}
/*导航栏*/
.nav{
	background: #f3f5f7;
}
.nav .nav-container{
	width:1200px;
	height:30px;
	line-height: 30px;
	background:linear-gradient(to right, rgb(255,150,0),rgb(255,100,0));
	color:#fff;
	margin: 0 auto;
	font-weight: bold;
}
.nav .nav-container .nav-big li{
	font-size:18px;
	padding:0 8px;
	float:left;
}
.nav .nav-container .nav-small li{
	float:left;
	padding:0 8px;
}
.nav .nav-container a{
	color:#fff;
}
section{
	height: 500px;
	background-color: #f3f5f7;
}
/*中心部分*/
/*轮播图*/
/*floor1*/
/*floor2*/
/*floor3*/
/*floor4*/
/*floor5*/
/*电梯*/
.elevator{
	position: fixed;
	left:320px;
	top:50%;
	margin-top:-90px;
}
.elevator .elevator-item{
	display:block;
	width:24px;
	height:35px;
	line-height: 35px;
	border-top: 1px solid #d9dde1;
	font-size:8px;
	text-align: center;
	color:#4d555d;
}
.elevator .elevator-item:hover{
	color:#f01414;
}
.elevator .elevator-item .elevator-text{
	display:none;
}
.elevator .elevator-item:hover .elevator-text{
	display:block;
}
.elevator .elevator-item:hover .elevator-num{
	display:none;
}
/*侧栏工具条*/
.toolbar{
	position: fixed;
	right: 0;
	top:50%;
	margin-top:-102px;
}
.toolbar .toolbar-item{
	position:relative;
	display:block;
	width:40px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
	color:#fff;
	text-align:center;
}
.toolbar .toolbar-item > i{
	position: relative;
	z-index: 2;
	display: block;
	height: 40px;
	line-height: 40px;
	background-color: #b7bbbf;
	font-size:30px;
}
.toolbar .toolbar-item .toolbar-text{
	position: absolute;
	left:0;
	top:0;
	width:80px;
	height: 40px;
	color:#fff;
	font-size:16px;
}
.toolbar .toolbar-item:hover .toolbar-icon{
	background-color: #71777d;
}
.toolbar .toolbar-item:hover .toolbar-text{
	left:-80px;
	background-color: #71777d;
}
.toolbar .toolbar-item:hover .toolbar-text:hover{
	color:red;
}